
#container {
	width:692px;
	padding:0px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:692px;
	height:250px;
	position:relative;
}


#frame {
	position:absolute;
	z-index:0;
	width:692px;
	height:250px;
	top:0px;
	left:0px;
}

#slides {
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:0px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	width:692px;
	height:250px;
	overflow:hidden;
	position:relative;
}

#slides .next {
	left:668px;
}

.pagination {
	margin:-35px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:-35px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}
