body, td, input, select {
    color: #000000;
    font-size: 9pt;
    font-family: 굴림;
    line-height: 130%;
    word-break: break-all;
}
a:link, a:visited {
    font-size: 9pt;
    font-family: 굴림, Tahoma;
    text-decoration: none;
}
a:hover {
    font-size: 9pt;
    font-family: 굴림, Tahoma;
    text-decoration: underline;
}
a.menu:link, a.menu:visited {
    color: #FFFFFF;
    font-size: 9pt;
    font-family: 굴림;
    text-decoration: none;
}
a.menu:hover, a.menu:active {
    color: #000000;
    font-size: 9pt;
    font-family: 굴림;
    text-decoration: none;
    font-weight: bold;
}
.admin_menu {
    color: #000000;
    font-weight: bold;
    font-size: 10pt;
    font-family: 굴림;
    cursor: default;
}
.down {
    font-weight: bold;
    font-size: 10pt;
    border-width: 1px;
    border-style: solid;
    border-color: #000000 #FFFFFF #FFFFFF #000000;
    color: white;
    text-align: center;
    padding: 2px 0 0 2px;
}
a.mune123:link, a.mune123:visited {
    color: #000000;
    font-size: 9pt;
    font-family: 굴림;
    text-decoration: none;
}
a.mune123:hover, a.mune123:active {
    color: #FFFFFF;
    font-size: 9pt;
    font-family: 굴림;
    text-decoration: none;
}
td, table {
    border-color: #000000;
    border-collapse: collapse;
    color: #000000;
    font-size: 10pt;
    font-family: 굴림;
    line-height: 130%;
    word-break: break-all;
}
