span, body, tr, td, select, div, form, center, option, pre, blockquote 
{
font-size:12px; font-family:µ¸¿ò;line-height:180%;color:#333333;
}

.style1 {color: #CC0000}

th{line-height:120%;}
.radi
	{
		font-family:µ¸¿ò;font-size:11px;height:18px;background-color:#ffffff;
		border:0 solid silver;
		}
/*
input
{
font-family:verdana,±¼¸²;font-size:12px;height:18px;background-color:#ffffff;
line-height:120%;
}
*/
/*
textarea
{
font-size:9pt;font-family:verdana,±¼¸²;background-color:#ffffff;
line-height:170%;color:#ffffff;
}
*/
b {color:#000000;}

	/*-------- a.link --------------*/

A:link, A:visited 
	{
		color:#333333;
		text-decoration:none;
		font-size:12px;
		font-family:µ¸¿ò;
	}
	
A:hover, A:active
	{
		color:#FF9933;
		font-size:12px;
		font-family:µ¸¿ò;
		
		
	}

A.ljn2:link, A.ljn2:visited 
	{
		color:#ffffff;
		
		font-size:9pt;
		font-family:verdana,±¼¸²;
		font-weight:bold;
		
	}
	
A.ljn2:hover, A.ljn2:active
	{
		color:#FF9933;
		font-size:9pt;
		font-weight:bold;
		text-decoration:none;
	}


/*
	BODY 
	{ 
		SCROLLBAR-FACE-COLOR: #ffffff;
		SCROLLBAR-HIGHLIGHT-COLOR: #3874c8;
		SCROLLBAR-SHADOW-COLOR: #3874c8;
		SCROLLBAR-3DLIGHT-COLOR: #ffffff;
		SCROLLBAR-ARROW-COLOR: #3874c8;
		SCROLLBAR-TRACK-COLOR: #ffffff;
		SCROLLBAR-DARKSHADOW-COLOR: #ffffff ;
	}
*/

/*
BODY { scrollbar-base-color:#dee9ef;
		scrollbar-shadow-color: #DEE9EF;
		scrollbar-arrow-color: #7C7C7C;
		scrollbar-face-color: #DEE9EF; 
		scrollbar-highlight-color: #FFFFFF;
		scrollbar-darkshadow-color: #7C7C7C;
		scrollbar-3dlight-color: #7C7C7C;
		scrollbar-track-color:#BFCDD5; 
		border-width:0px; }
	
*/
/*
body{
	scrollbar-arrow-color :#FFFFFF;
	 scrollbar-base-color :#000000;
	 }
*/

.allline
	{
		BORDER-BOTTOM: #e4e4e4 1px solid;
		BORDER-LEFT: #e4e4e4 1px solid;
		BORDER-RIGHT: #e4e4e4 1px solid;
		BORDER-TOP: #e4e4e4 1px solid
	}		
	

