body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: auto;
  text-align: center; /* 추가한 부분 */
}

h1 {
  margin-top: 50px;
  text-align: center;
}

h2 {
margin-top: 50px;
text-align: center;
}

form {
width: 100%;
border: 1px solid gray;
padding: 20px;
border-radius: 5px;
box-shadow: 1px 1px 10px gray;
text-align:left; 
}

label{
 display:block; 
 margin-bottom :10px; 
}

input[type="text"], input[type="password"], input[type ="email"]{
 width :100%; 
 padding :5px; 
 margin-bottom :15x ; /* 수정해야 함 */
 border:none ;  
 width :100%;  
 box-sizing:border-box ;
 font-size :14x ; /* 수정해야 함 */

}

button[type="submit"],input[type ="reset"]{
   padding :5x   ; /* 수정해야 함 */
   background-color :skyblue ;  
   color:white ;  
   border:none ;  
   border-radius :3x ;
   cursor:pointer ;   
}

table {width:auto;margin:auto;}/* 추가한 부분 */

table th,
table td {
padding:x ;
border:x solid #ddd ;
}

table th{background-color:#007bff;color:#fff;}
/* header 스타일링 */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* section 스타일링 */
  /* section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  article {
    flex-basis: 60%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
  }
  
  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  
  p {
    line-height: 1.5;
  }
  
  aside {
    flex-basis: 40%;
    background-color: #e2e2e2;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* footer 스타일링 */
  /* section 스타일링 */
section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* .container {
    display: flex;
  } */
  
  aside {
    width: 20%;
    background-color: #e2e2e2;
    padding: 20px;
    box-sizing: border-box;
  }
  
  article {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
  }
  
  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
   */
  p {
    line-height: 1.5;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  } 
 

  