/* mymenu.css */

#menu2 {
    border-left: 10px solid #0082e6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .M01 > li,
  .M02 > li,
  .M03 > li {
    position: relative;
    height: 50px;
    background: #0082e6;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
  }
  
  .M01 > li {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  #menu2 a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  
  .M01 > li:hover .M02 {
    left: 100px;
  }
  
  .M01 > li a:hover {
    background: #AB06AD;
  }
  
  .M02,
  .M03 {
    width: 100px;
    background: #444;
    position: absolute;
    top: 0;
    left: -9999px;
  }
  
  .M02 > li:hover .M03 {
    left: 100px;
  }
  
  .M02 > li a:hover {
    background: #0082e6;
  }
  
  .M03 > li a:hover {
    background: #0082e6;
  }
  