body,select,th,td, div, center, option, pre, blockquote 
{
font-size:12px; font-family:돋움;font-color:#cccccc;color:#666666;

}
body{
	margin-top: 0px;
  margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}
th{line-height:120%;}
input
{
font-family:verdana,굴림;font-size:11px;height:18px;background-color:#ffffff;
border:1 solid silver;cursor:hand;line-height:150%;color:black;
}
.inputs
{
font-family:verdana,굴림;font-size:11px;height:18px;background-color:#ffffff;
border:1 solid silver;cursor:hand;line-height:150%;color:black;
}

.style2 {	font-family: "돋움";
	font-size: 11px;
}
.smalldate
{
font-family:굴림;font-size:10px;color:#3399cc;
}
textarea
{
font-size:9pt;font-family:verdana,굴림;background-color:#ffffff;
border:1 solid silver;line-height:170%;color:black;
}

.b {font-size:9pt; font-family:돋움;font-color:#cccccc;color:#666666;}

BODY {
    SCROLLBAR-FACE-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #e4e4e4;
    SCROLLBAR-3DLIGHT-COLOR: #e4e4e4;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #f7f7f7;
    SCROLLBAR-BASE-COLOR: #cfcfcf
}


/*-------- table --------------*/
	.bordermain
	{
		BORDER-BOTTOM: silver 0px solid;
		BORDER-LEFT: #CC66FF 1px solid;
		BORDER-RIGHT: silver 0px solid;
		BORDER-TOP: #CC66FF 1px solid
	}		
	.counter
	{
		BORDER-BOTTOM: silver 0px solid;
		BORDER-LEFT: brown 1px solid;
		BORDER-RIGHT: silver 0px solid;
		BORDER-TOP: brown 1px solid
	}		
	.search
	{
		BORDER-BOTTOM: silver 0px solid;
		BORDER-LEFT: brown 1px solid;
		BORDER-RIGHT: silver 0px solid;
		BORDER-TOP: brown 1px solid
	}
	.oneview
	{
		BORDER-BOTTOM: silver 1px solid;
		BORDER-LEFT: silver 0px solid;
		BORDER-RIGHT: #CC66FF 0px solid;
		BORDER-TOP: silver 1px solid
	}		
	

	.border1
	{
		BORDER-BOTTOM: silver 0px solid;
		BORDER-LEFT: silver 1px solid;
		BORDER-RIGHT: silver 0px solid;
		BORDER-TOP: silver 1px solid
	}		
	.border2
	{
		BORDER-BOTTOM: silver 1px solid;
		BORDER-LEFT: silver 0px solid;
		BORDER-RIGHT: silver 1px solid;
		BORDER-TOP: silver 0px solid
	}		

	.ljntd
	{
		BORDER-BOTTOM: brown 1px solid;
		BORDER-LEFT: silver 1px solid;
		BORDER-RIGHT: brown 1px solid;
		BORDER-TOP: silver 1px solid
	}		
	.sideline
	{
		BORDER-BOTTOM: silver 0px solid;
		BORDER-LEFT: #e4e4e4 1px solid;
		BORDER-RIGHT: #e4e4e4 1px solid;
		BORDER-TOP: silver 0px solid
	}		

	.ljntabletitle
	{
		BORDER-BOTTOM: #666666 1px solid;
		BORDER-LEFT: #666666 1px solid;
		BORDER-RIGHT: #666666 2px solid;
		BORDER-TOP: #666666 1px solid
	}		
	.javascriptmain
	{
		BORDER-BOTTOM: #e4e4e4 1px solid;
		BORDER-LEFT: #e4e4e4 1px solid;
		BORDER-RIGHT: #e4e4e4 1px solid;
		BORDER-TOP: #666666 0px solid
	}	
	.menuline
	{
		BORDER-BOTTOM: #e4e4e4 1px solid;
		BORDER-LEFT: #e4e4e4 1px solid;
		BORDER-RIGHT: #e4e4e4 1px solid;
		BORDER-TOP: #e4e4e4 1px solid
	}	
	.photoshopmain
	{
		BORDER-BOTTOM: #e4e4e4 0px solid;
		BORDER-LEFT: #e4e4e4 1px solid;
		BORDER-RIGHT: #e4e4e4 1px solid;
		BORDER-TOP: #e4e4e4 1px solid
	}	
	.radi
	{
		font-family:verdana,굴림;font-size:11px;height:18px;background-color:#ffffff;
		border:0 solid silver;
	}
	.pastview
	{
		BORDER-BOTTOM: #EAEFF2 1px solid;
		BORDER-LEFT: #EAEFF2 1px solid;
		BORDER-RIGHT: #EAEFF2 1px solid;
		BORDER-TOP: #EAEFF2 1px solid
	}		
	td, th
	{
	color:#666666;
	line-height: normal;
		
	}		


A:link, A:visited 
	{
		color:#666666;
		text-decoration:none;
		font-size:11px;
		font-family:verdana,굴림;
	}
	
A:hover, A:active
	{
		color:#0086B6;
		font-size:11px;
		
	}

A.ljn2:link, A.ljn2:visited 
	{
		color:#666666;
		text-decoration:none;
		font-size:7pt;
		font-family:verdana,굴림;
		font-weight:bold;
	}
	
A.ljn2:hover, A.ljn2:active
	{
		color:white;
		font-size:7pt;
		font-weight:bold;
		text-decoration:none;
	}




	
